/* Color Palette: https://colorpalettes.net/color-palette-1708/ */

* {
  /* outline: 1px solid lightgray; */
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.Dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 12px;

}

.header {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e6b15d;
  border-bottom: 1px solid #fee197;
  box-shadow: 0 2px 6px 0 #fee197;
}

.title {
  margin-left: 30px;
}

nav span {
  margin-right: 30px;
  cursor: pointer;
}

.home {
  border: 1px solid lightgray;
}

.main {
  border: 1px solid lightgray;
}

.signupForm, .signinForm, .eventForm, .accountForm, .locationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eventDescription {
  resize: none;
}

.deleteEvent {
  cursor: pointer;
}
.footer {

}

.logo {
  background-image: url('./background2.jpg');
  position: relative;
  height: 100%;
  width: 100%;
}

.text {
  background-color: white;
  color: black;
  font-size: 100px;
  height: 100px;
  width: 100%;
  font-weight: bold;
  margin: 0 auto;
  text-align: right;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}