/* Color Palette: https://colorpalettes.net/color-palette-1708/ */

* {
  /* outline: 1px solid lightgray; */
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-align: center;
}

h1 {
  height: 50px;
}

h2 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;

  width: 300px;
}

a, .link{
  text-decoration: none;
  color: white;
}

.button {
  height: 40px;
  background-color: #00719c;
  border: 1px solid black;
  color: white;
  border-radius: 0;
  margin-top: 20px;
  font-size: 16px;
  width: 300px;
}

.Dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 14px;

}

.down {
  width: 40px;
  cursor: pointer;
}

.up {
  width: 40px;
  transform: rotate(180deg);
  cursor: pointer;
}

.x {
  width: 20px;
}

.header {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #00719c;
  border-bottom: 1px solid #00415a;
  box-shadow: 0 1px 6px black;
}

.title {
  margin-left: 30px;
  font-size: 30px;
  color: white;
}

nav span {
  margin-right: 30px;
  cursor: pointer;
}

.home, .main, .account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-top: 20px;
}

/* SIGNUP/SIGNIN/ABOUT */

.signInput {
  padding: 0;
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid lightgray;
  height: 20px;
  line-height: 14px;
  margin: 0;
}

.signButton {
  height: 40px;
  background-color: #00719c;
  border: 1px solid black;
  color: white;
  border-radius: 0;
  margin-top: 20px;
  font-size: 16px;
}

.signup, .signin {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 450px;
  padding: 25px;
  
  display: flex;
  flex-direction: column;

  text-align: left;
  box-shadow: 2px 2px 6px grey;
}

.signupForm, .signinForm {
  height: 90%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.signupForm *, .signinForm * {
  margin-bottom: 10px;
}

.signupForm, .signinForm, .eventForm, .accountForm, .locationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* WEATHER */
/* CURRENT */
.greeting, .weather, .events, .account {
  width: 800px;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px grey;
  padding: 5px;
}

.mainCurrent {
  width: 800px;
}

.currentLeft {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.currentIcon {
  width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cityName {
  font-size: 20px;
  font-weight: bold;
}

.textTemp {
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.miscInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentTemp {
  font-size: 50px;
  font-weight: bold;
}

.minmaxTemp {
  font-weight: bold;
}

/* FORECAST */

.fiveHeader {
  margin: 20px 0 10px 0;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dayDiv {
  width: 200px;
}

/* EVENTS */

.eventInput {
  padding: 0;
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid lightgray;
  height: 20px;
  line-height: 14px;
  margin: 0;  
}

.eventDescription {
  resize: none;
  padding: 0;
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  height: 20px;
  line-height: 14px;
  margin: 0;
  height: 100px;
}

.listMain {
  margin-bottom: 10px;
}

.eventAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eventForm {
  width: 300px;
  padding: 25px;
  
  display: flex;
  flex-direction: column;
  
  text-align: left;
}

.deleteEvent {
  cursor: pointer;
}
.footer {
  font-size: 10px;
  margin-top: 10px;
}

.smallText {
  font-size: 10px;
}

.about {
  width: 800px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 6px grey;
}