/* Color Palette: https://colorpalettes.net/color-palette-1708/ */

* {
  /* outline: 1px solid lightgray; */
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-align: center;
}

h1 {
  height: 50px;
}

form {
  display: flex;
  flex-direction: column;

  width: 300px;
}

a, .link{
  text-decoration: none;
  color: white;
}

.button {

}

.Dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 14px;

}

.header {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #00719c;
  border-bottom: 1px solid #00415a;
  box-shadow: 0 1px 6px black;
}

.title {
  margin-left: 30px;
  font-size: 30px;
  color: white;
}

nav span {
  margin-right: 30px;
  cursor: pointer;
}

.home, .home, .account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-top: 20px;
}

/* SIGNUP/SIGNIN/ABOUT */

.signInput {
  padding: 0;
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid lightgray;
  height: 20px;
  line-height: 14px;
  margin: 0;
}

.signButton {
  height: 40px;
  background-color: #00719c;
  border: 1px solid black;
  color: white;
  border-radius: 0;
  margin-top: 20px;
  font-size: 16px;
}

.signup, .signin {
  border: 1px solid black;
  width: 300px;
  height: 450px;
  padding: 25px;
  
  display: flex;
  flex-direction: column;

  text-align: left;
}

.signupForm, .signinForm {
  height: 90%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.signupForm *, .signinForm * {
  margin-bottom: 10px;
}

.signupForm, .signinForm, .eventForm, .accountForm, .locationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* WEATHER */

.currentTemp {
  font-size: 50px;
  font-weight: bold;
}



/* EVENTS */

.eventDescription {
  resize: none;
}

.deleteEvent {
  cursor: pointer;
}
.footer {
  font-size: 10px;
}

.logo {
  background-image: url('./background2.jpg');
  position: relative;
  height: 100%;
  width: 0;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}