/* Color Palette: https://colorpalettes.net/color-palette-1708/ */

* {
  /* outline: 1px solid lightgray; */
}

.Dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.header {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e6b15d;
  border-bottom: 1px solid #fee197;
  box-shadow: 0 2px 6px 0 #fee197;
}

.logo {
  margin-left: 30px;
}

nav span {
  margin-right: 30px;
  cursor: pointer;
}

.home {

}

.main {

}


.footer {
  background-image: url('./background2.jpg');
  background-position: 50px 100px;
  position: absolute;
  bottom: 20px;
  height: 100px;
  width: 100%;
}

.text {
  background-color: white;
  color: black;
  font-size: 100px;
  height: 100px;
  width: 100%;
  font-weight: bold;
  margin: 0 auto;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}